# field are annotated as REQUIRED or OPTIONAL.  fields maybe CONDITIONAL if it is dependent on another setting.

# each of the paths can be specified as a local or a cloud path
# cloud paths are specified as "az://container/path" or "s3://container/path"

# supported cloud credentials are below.  parentheses indicate required sets of information.
# (azure_account_name, azure_sas_token), (azure_account_name, azure_account_key), azure_connection_string, azure_account_url
# (aws_access_key_id, aws_secret_access_key), aws_session_token, aws_profile
# fallbacks are environment variables for these.

[configuration]
# common options.

# OPTIONAL default modalities are "OMOP,Images,Waveforms,Metadata"  
supported_modalities = "OMOP,Images,Waveforms,Metadata"

# OPTIONAL file processing page size. database is updated after each page. default is 1000
# page_size = 1000

# OPTIONAL profile journaling and upload performance.  defaults to false
# profile = false

# OPTIONAL number of threads to use.  default is min of cores + 4, 32, or the number specified here.  Recommend not setting the number of threads.
# num_threads = 1

[journal]
# REQUIRED  journaling mode can be either "full" or "append". 
# "full" mode: the source data is assumed to be a complete data repository and journal is taking a snapshot.  Previous version file that are missing in the current file system are considered as deleted
# "append" mode: the source data is assumed to contain new or updated files only.  Previous version file that are missing in the current file system are NOT considered as deleted.  
#       To delete a file, "file delete" has to be called.
journaling_mode = "full"

  [journal.local]
  # OPTIONAL.  local path for downloaded journal file.  default is "journal.db"
  path = "journal.db"

  [journal.source]
  # REQUIRED.  location of the journal file.  defaults to "journal.db" (local).
  path = "az://container/journal.db"

  # OPTIONAL if "builtin" then journal files will be transported using builtin python library will be used.  DO NOT CHANGE
  # upload_method = "builtin"

    [journal.source.auth]
    # CONDITIONAL if file is in cloud
    # REQUIRED authentication mode.  either "login" or "sas_token"
    auth_mode = "login" 

    # CONDITIONAL
    # REQUIRED 
    azure_account_url = "https://upload.chorus4ai.org"

    # CONDITIONAL if journal is in azure cloud.
    # REQUIRED, used when copying inside azure account.  may also be used for authentication.
    azure_account_name = "mghb2ailanding"

    # CONDITIONAL. if journal is in azure cloud, Alternative authentication options.

    # REQUIRED if auth mode is sas_token
    # azure_sas_token = "put_my_sas_token_here"

    # OPTIONAL
    # azure_account_key = "account_key"

    # OPTIONAL
    # azure_connection_string = "connection_string"



[central_path]
# specify the central (target) container/path, to which files are uploaded.  
# REQUIRED
# example:  "az://container/path"
path = "az://container/"

# REQUIRED? - container to store this in.
azure_container = "container"

# OPTIONAL flag to indicate whether the central path should have modality as top level or patient a top level.  Default to patient_first = true 
# patient_first = true

# OPIONAL upload method.  default to and currently only supports "builtin".  DO NOT CHANGE
# upload_method = "builtin"

  [central_path.auth]
  # CONDITIONAL if file is in cloud
  # REQUIRED authentication mode.  either "login" or "sas_token"
  auth_mode = "login" 

  # CONDITIONAL
  # REQUIRED 
  azure_account_url = "https://upload.chorus4ai.org"

  # CONDITIONAL if journal is in azure cloud.
  # REQUIRED, used when copying inside azure account.  may also be used for authentication.
  azure_account_name = "mghb2ailanding"

  # CONDITIONAL. if journal is in azure cloud, Alternative authentication options.

  # REQUIRED if auth mode is sas_token
  # azure_sas_token = "put_my_sas_token_here"

  # OPTIONAL
  # azure_account_key = "account_key"

  # OPTIONAL
  # azure_connection_string = "connection_string"

[site_path]
# NOTE: LOCAL WINDOWS PATH should use either forward slash "/" or double backslash "\\"
# each can have its own access credentials if in cloud.  These would not be inherited from default.

  [site_path.default]
  # REQUIRED specify the default site (source) path.
  path = "/mnt/data/site"

  # OPTIONAL if same as default path.  
  [site_path.OMOP]
  # OPTIONAL if section present:  specific root paths for omop data
  # path = "/mnt/data/site"

  # OPTIONAL
  # if true, OMOP is a subdirectory of patient directory:  "{patient_id:w}/OMOP/*.csv"
  # if false, OMOP is a sibling directory of patients:  "OMOP/*.csv"
  # default is false
  omop_per_patient = false

  # OPTIONAL
  # indicates if the relative path is in a dated directory. default is false
  versioned = false

  # OPTIONAL pattern for omop files.  defaults to "OMOP/{filepath}".  
  # parsible variables are "version", "patient_id", and "filepath"
  # use ":d" for digit only, or ":w" for digit, letter, and underscore. e.g. {patient_id:w}
  # modify to match the file organization under the root path.
  pattern = "OMOP/{filepath}"

  # other examples
  # CONDITIONAL if omop_per_patient is true
  # pattern = "{patient_id:w}/OMOP/{filepath}"

  # CONDITIONAL if versioned == true
  # pattern = "{version:w}/{patient_id:w}/OMOP_tables/{filepath}"

  # OPTIONAL if same as default path.
  [site_path.Images]
  # OPTIONAL if section present:  specific root paths for images
  # path = "/mnt/data/site"
  # example if images are in AWS S3
  # path = "s3://container/path"

  # OPTIONAL indicates if the relative path is in a dated directory.  default is false
  # versioned = false

  # OPTIONAL pattern for Image files.  defaults to "{patient_id:w}/Images/{filepath}".  
  # parsible variables are "version", "patient_id", and "filepath"
  # use ":d" for digit only, or ":w" for digit, letter, and underscore. e.g. {patient_id:w}
  # modify to match the file organization under the root path.
  pattern = "{patient_id:w}/Images/{filepath}"
  # other examples
  # pattern = "Person{patient_id:w}/Images/{filepath}"
  # pattern = "{version:w}/{patient_id:w}/Images/{filepath}"

    #[site_path.Images.auth]
    # s3_container = "container"
    # aws_access_key_id = "access_key_id"
    # aws_secret_access_key = "secret_access"
    # Alternatively, can also specify aws session token, or profile.
    # aws_session_token = "session_token"
    # aws_profile = "profile"


  # OPTIONAL if same as default path.  
  [site_path.Waveforms]
  # OPTIONAL if section present.  specifies root path of waveforms
  #path = "/mnt/another_datadir/site"

  # OPTIONAL indicates if the relative path is in a dated directory.  default is false
  # versioned = false

  # OPTIONAL pattern for Waveform files.  defaults to "{patient_id:w}/Waveforms/{filepath}".  
  # parsible variables are "version", "patient_id", and "filepath"
  # use ":d" for digit only, or ":w" for digit, letter, and underscore. e.g. {patient_id:w}
  # modify to match the file organization under the root path.
  pattern = "{patient_id:w}/Waveforms/{filepath}"
  # other examples
  # pattern = "Person{patient_id:w}/Waveforms/{filepath}"
  # pattern = "{version:w}/{patient_id:w}/Waveforms/{filepath}"

  # OPTIONAL if same as default path.  
  [site_path.Metadata]
  # OPTIONAL if section present.  specifies root path of Metadata
  # path = "/mnt/another_datadir/site"

  # OPTIONAL indicates if the relative path is in a dated directory.  default is false
  # versioned = false

  # OPTIONALpattern for Submission Metadata files.  defaults to "Metadata/{filepath}".  
  # parsible variables are "version", "patient_id", and "filepath"
  # use ":d" for digit only, or ":w" for digit, letter, and underscore. e.g. {patient_id:w}
  # modify to match the file organization under the root path.
  pattern = "Metadata/{filepath}"
  # other examples
  # pattern = "{version:w}/Metadata/{filepath}"

